# Menu <a class="anchor" id="menu"></a>

* [1. olist_customers_dataset.csv](#data_customers)
    * [1.1 Check missing values](#data_customers_missing)
* [2. olist_geolocation_dataset.csv](#data_geo)
    * [2.1 Check missing values](#data_geo_missing)
* [3. olist_order_items_dataset.csv](#data_items)
    * [3.1 Check missing values](#data_items_missing)
* [4. olist_order_payments_dataset.csv](#data_payments)
    * [4.1 Check missing values](#data_payments_missing)
* [5. olist_order_reviews_dataset.csv](#data_reviews)
    * [5.1 Check missing values](#data_reviews_missing)
* [6. olist_orders_dataset.csv](#data_orders)
    * [6.1 Check missing values](#data_orders_missing)
* [7. olist_products_dataset.csv](#data_products)
    * [7.1 Check missing values](#data_products_missing)
* [8. olist_sellers_dataset.csv](#data_sellers)
    * [8.1 Check missing values](#data_sellers_missing)
* [9. product_category_name_translation.csv](#data_categories)
    * [9.1 Check missing values](#data_categories_missing)

* [1. General Overview](#overview)
* [2. Check the dataset](#check)
    * [2.1 Check duplicates](#duplicates)
    * [2.2 Check missing values](#missing_values)
* [3. Explore the columns + Univariate Analysis](#explore_columns)
    * [3.1 Inspect `Boolean` variables](#explore_columns_bool)
    * [3.2 Inspect *(non boolean)* `Categorical` variables](#explore_columns_categorical)
    * [3.3 Inspect `Numerical` variables](#explore_columns_numerical)
    * [3.4 Inspect `TARGET` variable](#explore_target)
* [4. Multivariate Analysis](#multivariate_analysis)
    * [4.1 `TARGET` distribution on the various columns](#target_distributions)
    * [4.2 Pearson's correlations](#pearson_correlations)
* [5. Conclusion](#conclusion)

In [1]:
import os
from zipfile import ZipFile

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

random_seed = 0
np.random.seed(random_seed)

#import warnings
#warnings.filterwarnings('ignore')

#import gc
#gc.enable()

In [30]:
def print_dataset_shape(data_):
    print(f"Ce dataset contient {data_.shape[0]} entrées décrites par {data_.shape[1]} variables")

In [11]:
def get_fill_rate(dataset):
    return  dataset.notnull().mean(axis=0)
    
def print_fill_rate(dataset, col_array, sort_by_score=False):
    fill_ratio = get_fill_rate(dataset)*100.0
    fill_count = dataset[col_array].notnull().sum()
    
    total = dataset.shape[0]
    max_size = max([len(x) for x in dataset.columns])
    col_size = 15

    if sort_by_score:
        fill_count = fill_count.sort_values(ascending=False)    
        
    print(f"{'COLUMN NAME'.rjust(max_size)} | {'EMPTY ROWS'.center(col_size)} | {'FILLING RATE'.rjust(col_size)} \n{'-'*111}")
    
    for k, v in fill_count.iteritems():
        fraction = fill_ratio[k]
        print(f"{k.rjust(max_size)} | {total-v:15} | {fraction:15.2f}%")
        
    return fill_ratio

---
# 1. `olist_customers_dataset.csv` <a class="anchor" id="data_customers"></a> [⇪](#menu)

In [27]:
csv_name = "olist_customers_dataset.csv"
data_customer = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_customer.sample(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
17917,fa5cde2f984262f2398e3180c7638648,230061b6b7d06e99964e3d22c92ae0ad,78144,varzea grande,MT
56219,db51f35aad5e37b5e416f74bcbb17143,f17432ee714fd40afc0b38dab3e21cdf,4438,sao paulo,SP
71850,bdcf33d907fe2aebe8e1dc1f936af750,06ec3677cee4b59c27b290bf07288bf5,88750,braco do norte,SC
15912,50f4ec7d46a714a53d430d880a9636f5,57ba03e60a4ff6b32b2b63857670d8f6,66640,belem,PA
92472,d2a90be3e7253852568d80763b2df91e,a439177407290b4a5118b05ef53196e0,13806,mogi mirim,SP

In [31]:
print_dataset_shape(data_customer)

Ce dataset contient 99441 entrées décrites par 5 variables

## 1.1 Check for missing values <a class="anchor" id="data_customer_missing"></a> [⇪](#menu)

In [13]:
_ = print_fill_rate(data_customer, data_customer.columns)

             COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
             customer_id |               0 |          100.00%
      customer_unique_id |               0 |          100.00%
customer_zip_code_prefix |               0 |          100.00%
           customer_city |               0 |          100.00%
          customer_state |               0 |          100.00%

> Aucune valeur n'est manquante

---
# 2. `olist_geolocation_dataset.csv` <a class="anchor" id="data_geo"></a> [⇪](#menu)

In [3]:
csv_name = "olist_geolocation_dataset.csv"
data_geo = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_geo.sample(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
823176,78285,-15.624392,-58.187282,sao jose dos quatro marcos,MT
738409,59678,-4.841183,-37.255959,tibau,RN
660364,39401,-16.728432,-43.871486,montes claros,MG
440312,22070,-22.983260,-43.190791,rio de janeiro,RJ
311303,13504,-22.397701,-47.574436,rio claro,SP

In [32]:
print_dataset_shape(data_geo)

Ce dataset contient 1000163 entrées décrites par 5 variables

## 2.1 Check for missing values <a class="anchor" id="data_geo_missing"></a> [⇪](#menu)

In [14]:
_ = print_fill_rate(data_geo, data_geo.columns)

                COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
geolocation_zip_code_prefix |               0 |          100.00%
            geolocation_lat |               0 |          100.00%
            geolocation_lng |               0 |          100.00%
           geolocation_city |               0 |          100.00%
          geolocation_state |               0 |          100.00%

> Aucune valeur n'est manquante

---
# 3. `olist_order_items_dataset.csv` <a class="anchor" id="data_items"></a> [⇪](#menu)

In [4]:
csv_name = "olist_order_items_dataset.csv"
data_items = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_items.sample(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
92452,d1bbc3ea80f956f0a139a12f1ef2ca28,1,d01c8040e9da57814b24757884d840db,744dac408745240a2c2528fb1b6028f3,2018-02-07 22:49:33,198.00,17.83
85295,c1d16d2238787555fb7bed98f8fbd99d,1,3354a4e684f5e7199f9407db70ccd92b,7a67c85e85bb2ce8582c35f2203ad736,2018-06-07 02:32:01,89.99,18.21
7513,110e1980401cf18f27590b4023ff5e32,1,43e09fcb6175856e87a4d9b91321addb,9d4db00d65d7760644ac0c14edb5fd86,2018-06-08 18:12:51,226.99,19.50
17407,27dd4347486e954e77b2f577f6388819,1,a519511d5c5c1153c9f636288e50f819,1025f0e2d44d7041d6cf58b6550e0bfa,2018-03-23 07:50:39,115.00,15.69
16347,257006b4652ed6214a889913fec6a5ca,1,680874c570dad71c0a2844cfbf417054,5343d0649eca2a983820bfe93fc4d17e,2018-03-28 19:48:07,39.00,19.32

In [33]:
print_dataset_shape(data_items)

Ce dataset contient 112650 entrées décrites par 7 variables

## 3.1 Check for missing values <a class="anchor" id="data_items_missing"></a> [⇪](#menu)

In [15]:
_ = print_fill_rate(data_items, data_items.columns)

        COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
           order_id |               0 |          100.00%
      order_item_id |               0 |          100.00%
         product_id |               0 |          100.00%
          seller_id |               0 |          100.00%
shipping_limit_date |               0 |          100.00%
              price |               0 |          100.00%
      freight_value |               0 |          100.00%

> Aucune valeur n'est manquante

---
# 4. `olist_order_payments_dataset.csv` <a class="anchor" id="data_payments"></a> [⇪](#menu)

In [5]:
csv_name = "olist_order_payments_dataset.csv"
data_payments = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_payments.sample(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
56002,cc21ab75e3789696563aa9f32365c3ce,1,credit_card,3,551.90
41756,ab4362fccbf0de9194dc5b7c0ea13585,1,credit_card,1,133.17
18393,badcf619a4531116e06f0f2f6f711215,1,boleto,1,131.23
33559,a913ec1db6048950ba773ec6b408eeba,1,boleto,1,114.79
16512,80092307dc8a515d508a93a24516a62e,1,boleto,1,86.24

In [34]:
print_dataset_shape(data_payments)

Ce dataset contient 103886 entrées décrites par 5 variables

## 4.1 Check for missing values <a class="anchor" id="data_payments_missing"></a> [⇪](#menu)

In [16]:
_ = print_fill_rate(data_payments, data_payments.columns)

         COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
            order_id |               0 |          100.00%
  payment_sequential |               0 |          100.00%
        payment_type |               0 |          100.00%
payment_installments |               0 |          100.00%
       payment_value |               0 |          100.00%

> Aucune valeur n'est manquante

---
# 5. `olist_order_reviews_dataset.csv` <a class="anchor" id="data_reviews"></a> [⇪](#menu)

In [6]:
csv_name = "olist_order_reviews_dataset.csv"
data_reviews = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_reviews.sample(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
69260,3fefb734355862cf1eb7babdf5538f69,05b7ab671d6b51e0b44ea73a54d9f739,1,NaN,NaN,2018-02-18 00:00:00,2018-02-18 15:42:15
65046,deac12f8c4305c2c8c2e03b0e6d54fea,1d7ee49ee66da430b533a85af951430c,5,NaN,Chegou antes do prazo.,2017-06-09 00:00:00,2017-06-10 00:40:42
85356,b78a53ebac098f009b9b95c88f84307d,c6a9052634caae576f272ecf2e3a9b1e,1,NaN,"Não recomendo a ninguém, comprei um produto e ...",2018-03-28 00:00:00,2018-03-28 15:01:21
7729,4fc3c30a4896cb74d28424946ce574b5,6e93ed2e3c661536678cba89556cfc2e,5,NaN,Parabéns pela pontualidade....Estou satisfeita...,2017-05-12 00:00:00,2017-05-14 09:27:13
94996,386e4e5d4f836e39522f01677a0e0d8f,b2976bc0899d6eb3fbaa0255ee3a000b,5,NaN,NaN,2017-12-08 00:00:00,2018-01-05 12:46:37

In [35]:
print_dataset_shape(data_reviews)

Ce dataset contient 99224 entrées décrites par 7 variables

## 5.1 Check for missing values <a class="anchor" id="data_reviews_missing"></a> [⇪](#menu)

In [17]:
_ = print_fill_rate(data_reviews, data_reviews.columns)

            COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
              review_id |               0 |          100.00%
               order_id |               0 |          100.00%
           review_score |               0 |          100.00%
   review_comment_title |           87656 |           11.66%
 review_comment_message |           58247 |           41.30%
   review_creation_date |               0 |          100.00%
review_answer_timestamp |               0 |          100.00%

> On constate qu'une très grosse partie des avis n'ont ni titre et/ou ni texte... ce qui pourrait être un problème si l'on cherchait à faire une analyse de texte avec des techniques NLP, mais ici on pourra les remplacer par une valeurs booleens indiquant si ils ont été écris ou pas. <br>
> Par ailleurs, on note la présente de la colonne score qui présente un intérêt significatif sans qu'il ne lui manque aucune valeur.

>#### `TODO`
> - ❌ **remplacer les colonnes de messages** *(review_comment_message)* **et titres** *(review_comment_title)* par des colonnes de booleans indiquant si ils ont été rédigés ou pas **??**

---
# 6. `olist_orders_dataset.csv` <a class="anchor" id="data_orders"></a> [⇪](#menu)

In [7]:
csv_name = "olist_orders_dataset.csv"
data_orders = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_orders.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
67524,0ef7129ab98149bcbd4aadde9ba093d9,1dcaf101733dc31789ce23f25d3d2f51,delivered,2018-07-07 14:36:02,2018-07-11 03:35:20,2018-07-11 12:30:00,2018-07-16 11:44:27,2018-07-25 00:00:00
2671,776e5572d4969b8fa5b72b0fde398f6f,a0b5cdd54fb202fb47805688f4577c8f,delivered,2018-06-28 23:20:15,2018-06-28 23:35:13,2018-06-29 13:52:00,2018-06-30 16:06:20,2018-07-12 00:00:00
12037,84ea561a36501265e6a147837868f416,3a2165661e60e1228dcf99a3e2b3bd78,delivered,2017-10-26 14:26:14,2017-10-27 14:27:50,2017-10-28 14:19:55,2017-11-17 13:22:59,2017-11-16 00:00:00
16088,b747a0c744a7eebf585965a27879a49f,e4d1366afd00882f55b08566ebab9792,delivered,2018-05-03 23:39:49,2018-05-03 23:55:09,2018-05-04 14:04:00,2018-05-15 23:42:19,2018-06-05 00:00:00
33850,396a192aba5ce4ea3612711cf5d6bfc1,f5c3ad225e5c12d6a5b22e684f73c907,delivered,2018-06-08 22:23:18,2018-06-08 22:35:11,2018-06-11 10:49:00,2018-06-19 21:03:11,2018-07-03 00:00:00

In [36]:
print_dataset_shape(data_orders)

Ce dataset contient 99441 entrées décrites par 8 variables

## 6.1 Check for missing values <a class="anchor" id="data_orders_missing"></a> [⇪](#menu)

In [18]:
_ = print_fill_rate(data_orders, data_orders.columns)

                  COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
                     order_id |               0 |          100.00%
                  customer_id |               0 |          100.00%
                 order_status |               0 |          100.00%
     order_purchase_timestamp |               0 |          100.00%
            order_approved_at |             160 |           99.84%
 order_delivered_carrier_date |            1783 |           98.21%
order_delivered_customer_date |            2965 |           97.02%
order_estimated_delivery_date |               0 |          100.00%

> Une toute petite fraction des commandes ne dispose pas des dates de validation *(order_approved_at)*, des dates d'envoi *(order_delivered_carrier_date)* ou des dates de réception *(order_delivered_customer_date)* <br>
> Etant donné la nature des colonnes concernées et le nombre de lignes impliquées, le plus approprié semble être de les supprimer SI l'on a besoin des colonnes en question.

>#### `TODO`
> - ❌ **supprimer** les entrées dont les dates *(order_approved_at, order_delivered_carrier_date, order_delivered_customer_date)* ne sont pas connues **SI** on a besoin des dates en question...

---
# 7. `olist_products_dataset.csv` <a class="anchor" id="data_products"></a> [⇪](#menu)

In [56]:
csv_name = "olist_products_dataset.csv"
data_products = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_products.sample(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
17854,fb3ac05315c8f4a1b54de74e098ef7e2,automotivo,55.0,3317.0,3.0,850.0,20.0,15.0,20.0
8444,d906996541fe72f17ffc4a1434994857,moveis_decoracao,54.0,485.0,2.0,450.0,35.0,8.0,35.0
1219,115fdef806a3b8e9fc52a1dee818f2de,bebes,49.0,376.0,1.0,450.0,35.0,2.0,25.0
17868,92298b2c1c8b487f7029ce5ea3b87018,automotivo,58.0,676.0,2.0,1200.0,60.0,8.0,33.0
30865,b7e087ab49f42ad0fe758f399f4e7077,fashion_roupa_masculina,28.0,364.0,2.0,400.0,16.0,16.0,16.0

In [57]:
print_dataset_shape(data_products)

Ce dataset contient 32951 entrées décrites par 9 variables

## 7.1 Check for missing values <a class="anchor" id="data_products_missing"></a> [⇪](#menu)

In [58]:
_ = print_fill_rate(data_products, data_products.columns)

               COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
                product_id |               0 |          100.00%
     product_category_name |             610 |           98.15%
       product_name_lenght |             610 |           98.15%
product_description_lenght |             610 |           98.15%
        product_photos_qty |             610 |           98.15%
          product_weight_g |               2 |           99.99%
         product_length_cm |               2 |           99.99%
         product_height_cm |               2 |           99.99%
          product_width_cm |               2 |           99.99%

> Une petite fraction des produits ne dispose de toutes les données. <br>
> Nous pourrions essayer d'imputer les valeurs manquantes, mais étant donné la nature des colonnes concernées, il semble hasardeux de le faire sur la base des autres colonnes... <br>
> Donc étant donné le nombre de produits concernés, le plus simple est de les supprimer.

>#### `TODO`
> - ❌ **supprimer** les entrées dont les valeurs sont manquantes.

---
# 8. `olist_sellers_dataset.csv` <a class="anchor" id="data_sellers"></a> [⇪](#menu)

In [9]:
csv_name = "olist_sellers_dataset.csv"
data_sellers = pd.read_csv(os.path.join('data',csv_name))
data_sellers.sample(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
545,1a8e2d9c38b84a9702ac7922924b0573,89245,araquari,SC
91,79b93a308a97792cf53ac75f46da00b5,22420,rio de janeiro,RJ
1461,3d2400ac620cffa23ac81bd192f7f555,9810,sao bernardo do campo,SP
849,c3acdfac4e3e97ff87529454fbc03642,5705,sao paulo,SP
932,9aa388272ee334b6ae07bc73706e254a,36886,muriae,MG

In [38]:
print_dataset_shape(data_sellers)

Ce dataset contient 3095 entrées décrites par 4 variables

## 8.1 Check for missing values <a class="anchor" id="data_sellers_missing"></a> [⇪](#menu)

In [20]:
_ = print_fill_rate(data_sellers, data_sellers.columns)

           COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
             seller_id |               0 |          100.00%
seller_zip_code_prefix |               0 |          100.00%
           seller_city |               0 |          100.00%
          seller_state |               0 |          100.00%

> Aucune valeur n'est manquante

---
# 9. `product_category_name_translation.csv` <a class="anchor" id="data_categories"></a> [⇪](#menu)

In [10]:
csv_name = "product_category_name_translation.csv"
data_categories = pd.read_csv(os.path.join('data',csv_name))
data_categories.sample(5)

                 product_category_name      product_category_name_english
11                               bebes                               baby
18                     eletroportateis                   small_appliances
36  construcao_ferramentas_ferramentas            costruction_tools_tools
38           moveis_colchao_e_estofado  furniture_mattress_and_upholstery
69       fashion_roupa_infanto_juvenil          fashion_childrens_clothes

In [39]:
print_dataset_shape(data_categories)

Ce dataset contient 71 entrées décrites par 2 variables

## 9.1 Check for missing values <a class="anchor" id="data_categories_missing"></a> [⇪](#menu)

In [21]:
_ = print_fill_rate(data_categories, data_categories.columns)

                  COLUMN NAME |    EMPTY ROWS   |    FILLING RATE
---------------------------------------------------------------------------------------------------------------
        product_category_name |               0 |          100.00%
product_category_name_english |               0 |          100.00%

> Aucune valeur n'est manquante