# Menu <a class="anchor" id="menu"></a>

* [1. olist_customers_dataset.csv](#data_customers)
* [2. olist_geolocation_dataset.csv](#data_geo)
* [3. olist_order_items_dataset.csv](#data_items)
* [4. olist_order_payments_dataset.csv](#data_payments)
* [5. olist_order_reviews_dataset.csv](#data_reviews)
* [6. olist_orders_dataset.csv](#data_orders)
* [7. olist_products_dataset.csv](#data_products)
* [8. olist_sellers_dataset.csv](#data_sellers)
* [9. product_category_name_translation.csv](#data_categories)

* [1. General Overview](#overview)
* [2. Check the dataset](#check)
    * [2.1 Check duplicates](#duplicates)
    * [2.2 Check missing values](#missing_values)
* [3. Explore the columns + Univariate Analysis](#explore_columns)
    * [3.1 Inspect `Boolean` variables](#explore_columns_bool)
    * [3.2 Inspect *(non boolean)* `Categorical` variables](#explore_columns_categorical)
    * [3.3 Inspect `Numerical` variables](#explore_columns_numerical)
    * [3.4 Inspect `TARGET` variable](#explore_target)
* [4. Multivariate Analysis](#multivariate_analysis)
    * [4.1 `TARGET` distribution on the various columns](#target_distributions)
    * [4.2 Pearson's correlations](#pearson_correlations)
* [5. Conclusion](#conclusion)

In [1]:
import os
from zipfile import ZipFile

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

random_seed = 0
np.random.seed(random_seed)

#import warnings
#warnings.filterwarnings('ignore')

#import gc
#gc.enable()

# `olist_customers_dataset.csv` <a class="anchor" id="data_customers"></a> [⇪](#menu)

In [2]:
csv_name = "olist_customers_dataset.csv"
data_customer = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_customer.sample(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
36772,7a712c6f68eb4f82e3476a2b15aae037,3983d70881f360f71bbfb1950bdb65d4,91140,porto alegre,RS
87203,cac2bb1e674222234cc6d3b3b22182ee,58356170ea533d3458adc198bf932034,8475,sao paulo,SP
85028,69d8d7e49f532966ea7c5de9803b15da,d6703c8261cb42ac068c2714db67ceec,18040,sorocaba,SP
26166,87070d66b7ab1f1f2f17c357a62d7ee4,31be4a82a24208b1195f549edbd9f705,83065,sao jose dos pinhais,PR
72312,debb9c0b178e9096f08c8609c81e2924,26d011d527e0a9fc7e93674895f73193,85960,marechal candido rondon,PR

# `olist_geolocation_dataset.csv` <a class="anchor" id="data_geo"></a> [⇪](#menu)

In [3]:
csv_name = "olist_geolocation_dataset.csv"
data_geo = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_geo.sample(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
823176,78285,-15.624392,-58.187282,sao jose dos quatro marcos,MT
738409,59678,-4.841183,-37.255959,tibau,RN
660364,39401,-16.728432,-43.871486,montes claros,MG
440312,22070,-22.983260,-43.190791,rio de janeiro,RJ
311303,13504,-22.397701,-47.574436,rio claro,SP

# `olist_order_items_dataset.csv` <a class="anchor" id="data_items"></a> [⇪](#menu)

In [4]:
csv_name = "olist_order_items_dataset.csv"
data_items = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_items.sample(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
92452,d1bbc3ea80f956f0a139a12f1ef2ca28,1,d01c8040e9da57814b24757884d840db,744dac408745240a2c2528fb1b6028f3,2018-02-07 22:49:33,198.00,17.83
85295,c1d16d2238787555fb7bed98f8fbd99d,1,3354a4e684f5e7199f9407db70ccd92b,7a67c85e85bb2ce8582c35f2203ad736,2018-06-07 02:32:01,89.99,18.21
7513,110e1980401cf18f27590b4023ff5e32,1,43e09fcb6175856e87a4d9b91321addb,9d4db00d65d7760644ac0c14edb5fd86,2018-06-08 18:12:51,226.99,19.50
17407,27dd4347486e954e77b2f577f6388819,1,a519511d5c5c1153c9f636288e50f819,1025f0e2d44d7041d6cf58b6550e0bfa,2018-03-23 07:50:39,115.00,15.69
16347,257006b4652ed6214a889913fec6a5ca,1,680874c570dad71c0a2844cfbf417054,5343d0649eca2a983820bfe93fc4d17e,2018-03-28 19:48:07,39.00,19.32

# `olist_order_payments_dataset.csv` <a class="anchor" id="data_payments"></a> [⇪](#menu)

In [5]:
csv_name = "olist_order_payments_dataset.csv"
data_payments = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_payments.sample(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
56002,cc21ab75e3789696563aa9f32365c3ce,1,credit_card,3,551.90
41756,ab4362fccbf0de9194dc5b7c0ea13585,1,credit_card,1,133.17
18393,badcf619a4531116e06f0f2f6f711215,1,boleto,1,131.23
33559,a913ec1db6048950ba773ec6b408eeba,1,boleto,1,114.79
16512,80092307dc8a515d508a93a24516a62e,1,boleto,1,86.24

# `olist_order_reviews_dataset.csv` <a class="anchor" id="data_reviews"></a> [⇪](#menu)

In [6]:
csv_name = "olist_order_reviews_dataset.csv"
data_reviews = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_reviews.sample(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
69877,038211e7f563c5994233cb7efcc67b3a,6e11f5b6972e1b602699867fc1d5b6c9,5,NaN,NaN,2018-08-07 00:00:00,2018-08-07 16:56:10
8775,3d4d72bd998f786927d0ee2b73ee6b3e,eda3cb37479a52de9848bfba4b805cdf,1,Odiei,O produto retornou para o vendedor e até hj n ...,2018-06-01 00:00:00,2018-06-01 03:47:39
13654,9b268a802210dc6018342087c95e9277,6caff58e656c5b6c5769918fd09707c2,5,NaN,NaN,2017-06-20 00:00:00,2017-06-21 17:15:18
69786,bd6772b43e8a471e6f88e2187183f460,73104970a86b9a01354c304ea42ce0ba,5,NaN,Entrega OK. \r\nObrigasdo.\r\nGerson R. de Mello,2018-01-17 00:00:00,2018-01-20 00:56:15
11124,9245f597454543bc5bdcb796ab779fc2,b221f4ca79ae394f43b4fec8815e4b92,5,NaN,NaN,2017-08-05 00:00:00,2017-08-06 08:43:19

# `olist_orders_dataset.csv` <a class="anchor" id="data_orders"></a> [⇪](#menu)

In [7]:
csv_name = "olist_orders_dataset.csv"
data_orders = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_orders.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
67524,0ef7129ab98149bcbd4aadde9ba093d9,1dcaf101733dc31789ce23f25d3d2f51,delivered,2018-07-07 14:36:02,2018-07-11 03:35:20,2018-07-11 12:30:00,2018-07-16 11:44:27,2018-07-25 00:00:00
2671,776e5572d4969b8fa5b72b0fde398f6f,a0b5cdd54fb202fb47805688f4577c8f,delivered,2018-06-28 23:20:15,2018-06-28 23:35:13,2018-06-29 13:52:00,2018-06-30 16:06:20,2018-07-12 00:00:00
12037,84ea561a36501265e6a147837868f416,3a2165661e60e1228dcf99a3e2b3bd78,delivered,2017-10-26 14:26:14,2017-10-27 14:27:50,2017-10-28 14:19:55,2017-11-17 13:22:59,2017-11-16 00:00:00
16088,b747a0c744a7eebf585965a27879a49f,e4d1366afd00882f55b08566ebab9792,delivered,2018-05-03 23:39:49,2018-05-03 23:55:09,2018-05-04 14:04:00,2018-05-15 23:42:19,2018-06-05 00:00:00
33850,396a192aba5ce4ea3612711cf5d6bfc1,f5c3ad225e5c12d6a5b22e684f73c907,delivered,2018-06-08 22:23:18,2018-06-08 22:35:11,2018-06-11 10:49:00,2018-06-19 21:03:11,2018-07-03 00:00:00

# `olist_products_dataset.csv` <a class="anchor" id="data_products"></a> [⇪](#menu)

In [8]:
csv_name = "olist_products_dataset.csv"
data_products = pd.read_csv(ZipFile(os.path.join("data",f"{csv_name}.zip")).open(csv_name))
data_products.sample(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
1236,00de7f393d962717eeeb2d7131a40dba,telefonia,47.0,816.0,2.0,300.0,16.0,5.0,12.0
24926,d44b26fcb399a78808dc8643d991ec14,beleza_saude,30.0,550.0,1.0,125.0,16.0,12.0,13.0
8556,dc5810c618a462436499ac6e62aeddc3,esporte_lazer,41.0,249.0,2.0,700.0,20.0,15.0,15.0
748,ca26080d8f0fa848c329fe732f5e34e8,NaN,NaN,NaN,NaN,1800.0,25.0,25.0,25.0
29285,f89ebafd68e36c290966602cfaabb585,pet_shop,56.0,807.0,1.0,100.0,16.0,16.0,11.0

# `olist_sellers_dataset.csv` <a class="anchor" id="data_sellers"></a> [⇪](#menu)

In [9]:
csv_name = "olist_sellers_dataset.csv"
data_sellers = pd.read_csv(os.path.join('data',csv_name))
data_sellers.sample(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
545,1a8e2d9c38b84a9702ac7922924b0573,89245,araquari,SC
91,79b93a308a97792cf53ac75f46da00b5,22420,rio de janeiro,RJ
1461,3d2400ac620cffa23ac81bd192f7f555,9810,sao bernardo do campo,SP
849,c3acdfac4e3e97ff87529454fbc03642,5705,sao paulo,SP
932,9aa388272ee334b6ae07bc73706e254a,36886,muriae,MG

# `product_category_name_translation.csv` <a class="anchor" id="data_categories"></a> [⇪](#menu)

In [10]:
csv_name = "product_category_name_translation.csv"
data_categories = pd.read_csv(os.path.join('data',csv_name))
data_categories.sample(5)

                 product_category_name      product_category_name_english
11                               bebes                               baby
18                     eletroportateis                   small_appliances
36  construcao_ferramentas_ferramentas            costruction_tools_tools
38           moveis_colchao_e_estofado  furniture_mattress_and_upholstery
69       fashion_roupa_infanto_juvenil          fashion_childrens_clothes